<div class="bg" style="background-color: mediumturquoise">

<nav class="navbar navbar-toggleable navbar-light bg-faded" style="background-color: skyblue">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
  data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>HOMS
  </button>
  <a class="navbar-brand ml-10" href="#" style="padding-right: 28%">Hotel Management System</a>
  <a class="navbar-brand" href="#" *ngIf="islogin !== 'true'" style="cursor: pointer;" 
  class="ml-3" routerLink="Registration" (click)="gotoRegistration()">Registration</a>
  <div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" 
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Login
  </a>  
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#" *ngIf="islogin !== 'true'" style="cursor: pointer;" 
      routerLink="Admin" (click)="gotoAdmin()">Admin</a>
      <a class="dropdown-item" href="#" *ngIf="islogin !== 'true'" style="cursor: pointer;" 
      routerLink="Staffs" (click)="gotoStaffs()">Staffs</a>
    </div>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="cursor: pointer;" routerLink="Hotel" 
          (click)="gotoHotel()">Hotel Status <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="cursor: pointer;" routerLink="Guests" 
          (click)="gotoGuests()">Guests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="cursor: pointer;" routerLink="Administration" 
            (click)="gotoAdministration()">Administration</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            Rooms
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Single Room</a>
            <a class="dropdown-item" href="#">Double Room</a>
            <a class="dropdown-item" href="#">Family Room</a>
            <a class="dropdown-item" href="#">King Room</a>
          </div>
        </li>
      </ul>
    </div>
</nav>
</div>


<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> HOMsystem.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
